.App {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  max-width: 50rem;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 3rem;
  padding: 0.5rem 0;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
}

h1 {
  text-align: left;
  font-weight: 100;
  font-size: 2rem;
}
