body {
  font-family: "Roboto", sans-serif;
}
nav {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  font-style: 100;
}

main {
  background-color: rgb(226, 238, 238);
}

h3 {
  font-weight: 400;
}

p {
  font-weight: 300;
}
