body {
  width: 75%;
  margin: 2rem auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

table,
th,
tr,
td {
  border: 1px solid white;
  text-align: center;
  border-collapse: collapse;
  padding: 0.5rem;
}

table {
  margin-top: 2rem;
}

th {
  background-color: lightsteelblue;
}

tr:nth-child(even) {
  background-color: lightblue;
}

tr:nth-child(odd) {
  background-color: lightcyan;
}
