@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");

/* colors */

$grey-color: grey;
$White-color: white;
$black-color: black;
$backgroundColor: #f8fafc;
$text-color: #0f172a;

$Transition: 0.3s linear;

/* fonts */
$bodyFont: "Lato", sans-serif;

/* shadow */
$shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-2: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

$header-height: 12rem;

html {
    font-size: 100%;
}

body {
    background: $backgroundColor;
    font-family: $bodyFont;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    color: $text-color;
}

header {
    background-color: $grey-color;
    box-shadow: $shadow-1;
    text-align: center;
    // position: fixed;
    // width: 100%;
    // // z-index: 1;
    // height: $header-height;
}

header img {
    height: 2rem;
    vertical-align: top;
}

header nav a {
    display: block;
    text-decoration: none;
    color: $White-color;
}


.navigation {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    padding: 10px;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    padding: 10px;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: $black-color;
}

.icons a {
    margin: 0 0.5rem;
    color: $White-color;
}


a:hover {
    font-weight: bold;
    color: $black-color
}

.container {
    display: flex;
    padding: 1rem;

}

.container-products {
    background: $backgroundColor;
    // position: relative;
    // // top: $header-height;
}

.section-center {
    width: 100vw;
    margin: 0 auto;
    max-width: 1000px;
}

.title-wrapper {
    margin-bottom: 2rem;

}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.6rem;
    letter-spacing: 0.5rem;
}

.subtitle {
    color: $grey-color;
}

.product-card {
    box-shadow: $shadow-1;
    transition: $Transition;
    margin-bottom: 4rem;
}

.product-card:hover {
    box-shadow: $shadow-2;
}

.product-footer {
    text-align: center;
}

.product-title {
    text-transform: capitalize;
}

.product-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-details p {
    line-height: 0.2;
    text-transform: capitalize;
    color: var(--darkgray);
    letter-spacing: 0.02rem;
}

.product-img-container {
    position: relative;
    text-align: center;
}

.product-img {
    max-width: 100%;
}

@media screen and (min-width: 768px) {

    .container-products {
        top: 6rem;
    }

    .container-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .product-card {
        flex: 0 0 calc(75% - 1rem);
    }

    header .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    header img {
        height: 2rem;
    }

    header .container {
        padding: 1rem;
    }

    header nav a {
        display: inline;
        margin-left: 1rem;
    }

}

@media screen and (min-width: 1170px) {

    .container-products {
        top: 11rem;
    }

    .product-card {
        flex: 0 0 calc(50% - 1rem);
    }

    header img {
        height: 4rem;
        margin-bottom: 16px;
    }

    header .container {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1600px) {

    .product-card {
        flex: 0 0 calc(25% - 1rem);
    }

}

.icons a:hover {
    color: $black-color;
}

footer {
    display: grid;
    justify-content: center;
    background-color: $grey-color;
}

.copyright {
    text-transform: capitalize;
    margin: 0 auto;
    padding: 10px;
}