body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h4 {
  line-height: 0rem;
}

table {
  margin-top: 16px;
}

table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  width: 50%;
  text-align: center;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
}
