@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");
/* colors */
/* fonts */
/* shadow */
html {
  font-size: 100%;
}

body {
  background: #f8fafc;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  color: #0f172a;
}

header {
  background-color: grey;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header img {
  height: 2rem;
  vertical-align: top;
}

header nav a {
  display: block;
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
  color: black;
}

.container {
  display: flex;
  padding: 1rem;
}

.container-products {
  background: #f8fafc;
  position: relative;
  top: 12rem;
}

.section-center {
  width: 100vw;
  margin: 0 auto;
  max-width: 1000px;
}

.title-wrapper {
  margin-bottom: 2rem;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.6rem;
  letter-spacing: 0.5rem;
}

.subtitle {
  color: grey;
}

.product-card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s linear;
  margin-bottom: 4rem;
}

.product-card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.product-footer {
  text-align: center;
}

.product-title {
  text-transform: capitalize;
}

.product-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-details p {
  line-height: 0.2;
  text-transform: capitalize;
  color: var(--darkgray);
  letter-spacing: 0.02rem;
}

.product-img-container {
  position: relative;
  text-align: center;
}

.product-img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .container-products {
    top: 6rem;
  }
  .container-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .product-card {
    flex: 0 0 calc(75% - 1rem);
  }
  header .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  header img {
    height: 2rem;
  }
  header .container {
    padding: 1rem;
  }
  header nav a {
    display: inline;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1170px) {
  .container-products {
    top: 11rem;
  }
  .product-card {
    flex: 0 0 calc(25% - 1rem);
  }
  header img {
    height: 4rem;
    margin-bottom: 16px;
  }
  header .container {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.navigation {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  padding: 10px;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.icons a {
  margin: 0 0.5rem;
  color: white;
}

.icons a:hover {
  color: black;
}

footer {
  display: grid;
  justify-content: center;
  background-color: grey;
}

.copyright {
  text-transform: capitalize;
  margin: 0 auto;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */