body {
  width: 50%;
}

table#todo-list,
#todo-list tr,
#todo-list th,
#todo-list td {
  border: 1px solid black;
}

header,
table,
form {
  margin: 0 auto;
}

table#todo-list tr td:nth-child(even) {
  text-align: center;
}

form > fieldset {
  margin-bottom: 1rem;
}
form > button {
  margin-top: 1rem;
}

header {
  display: flex;
  background-color: aqua;
}
