body {
  font-family: "Courier New", Courier, monospace;
}

table#todo-list,
#todo-list tr,
#todo-list th,
#todo-list td {
  border: 1px solid black;
}

header,
table,
form {
  width: 75%;
  margin: 0 auto;
}

table#todo-list tr td:nth-child(even) {
  text-align: center;
}

form > fieldset {
  margin-bottom: 1rem;
}

form > button {
  margin-top: 0.5rem;
}

header {
  display: flex;
  background-color: aqua;
  justify-content: space-around;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-size: large;
}
