@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Roboto", sans-serif;
}

nav {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  font-style: 100;
  color: #b5b7df;
}

#url {
  color: #7f84e3;
}

a:active {
  color: yellow;
}

a:link,
a:visited {
  color: #cfd0dd;
}

a:hover,
a:active {
  color: #4d54df;
}

main {
  background-color: rgb(226, 238, 238);
}

footer {
  text-align: center;
  font-size: small;
  background-color: rgb(226, 238, 238);
  padding-bottom: 2rem;
}

h1 {
  font-weight: 400;
}

p {
  font-size: small;
  font-weight: 300;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  /* min-width: calc(100vw - (100vw - 100%)); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.title-conatiner {
  height: fit-content;
  width: 75%;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 0rem;
}

.button-container {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button-container #button {
  width: 10rem;
  padding: 10px 15px;
  background-color: #7f84e3;
  box-shadow: 0 0 2px 2px rgba(185, 173, 173, 0.5);
  border: #222;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: 500;
  font-size: small;
  text-align: center;
}

.button-container #button:hover {
  cursor: auto;
  opacity: 0.75;
}
